<div id="build" class="gid4">
    <a href="#" onclick="return Popup(4,4);" class="build_logo">
        <img class="building g4" src="/assets/img/x.gif" alt="Cropland" title="Cropland">
    </a>
    <h1>Cropland <span class="level">Level 0</span></h1>
    <p class="build_desc">
        Your population`s food is produced here. By increasing the farm`s level you increase its crop
        production.
    </p>

    <table cellpadding="1" cellspacing="1" id="build_value">
        <tbody>
        <tr>
            <th>Current production</th>
            <td><b>120</b> per hour</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <th>Production at level 1:</th>
            <td><b>300</b> per hour</td>
        </tr>

        </tbody>
    </table>

    <p id="contract"><b>Costs</b> for upgrading to level 1:<br>
        <img class="r1" src="/assets/img/x.gif" alt="Lumber" title="Lumber">
        <span class="little_res">70</span> |
        <img class="r2" src="/assets/img/x.gif" alt="Clay" title="Clay">
        <span class="little_res">90</span> |
            <img class="r3" src="/assets/img/x.gif" alt="Iron" title="Iron">
        <span class="little_res">70</span> |
            <img class="r4" src="/assets/img/x.gif" alt="Crop" title="Crop">
        <span class="little_res">20</span> |
        <img class="r5" src="/assets/img/x.gif" alt="Crop consumption" title="Crop consumption">0 |
            <img class="clock" src="/assets/img/x.gif" alt="duration" title="duration">0:00:02
        <br>
        <a class="build" href="dorf1.php?a=2&amp;c=baR">Upgrade to level 1.</a>
    </p>
</div>