<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Travian </title>
    <link REL="shortcut icon" HREF="/assets/favicon.ico"/>
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="/assets/mt-full.js" type="text/javascript"></script>
    <script src="/assets/unx.js" type="text/javascript"></script>
    <script src="/assets/new.js" type="text/javascript"></script>
    <link href="/assets/gpack/lang/en/compact.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/gpack/lang/en/lang.css" rel="stylesheet" type="text/css"/>
    <link href='/assets/gpack/travian.css' rel='stylesheet' type='text/css'/>
    <link href='/assets/css/base.css' rel='stylesheet' type='text/css'/>
    <link href='/assets/gpack/modules/new_layout_ltr.css' rel='stylesheet' type='text/css'/>

    <script type="text/javascript">
        window.addEvent('domready', start);
    </script>
</head>

<body class="v35 ie ie8" onload="start()">
{{template "body" .Data}}
<div id="ce"></div>
</body>
</html>